<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Main</title>
<base href=".">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<style>
li>span {
	color: white;
	padding-right: 1em;
	vertical-align: -webkit-baseline-middle;
}

h2 {
	color: darkslateblue;
}

p, li, label {
	color: darkmagenta;
	font-size: 20px;
}

body {
	background-color: #AFEEEE;
	font-size: 20px;
}

button, input, textarea {
	text-decoration: none;
	padding: 2px;
	font-weight: 100;
	font-size: 20px;
	color: #1883ba;
	background-color: white;
	border-radius: 7px;
	border: 2px solid #0016b0;
}
</style>
<link rel="stylesheet" href="estilo.css">

</head>

<!-- 3. Display the application -->

<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<div class="navbar-nav mr-auto">
				<a class="navbar-brand" href="/">Tierra agricola</a>
			</div>

		</div>

	</nav>

	<form action="#" th:action="@{/editTratamiento}"
		th.object="${Tratamiento}" method="post">
		<div style='text-align:center'>
		<h2 th:text="'Tratamiento con id: ' + ${Tratamiento.id}"></h2>
		</div>
		<input type="hidden" name="id" th:value="${Tratamiento.id}"
			th:label="*{id}" />
		<div>
			<label>Lote: </label> <input name="lote"
				th:value="${Tratamiento.lote}" th:label="*{lote}" placeholder="lote" />
		</div>
		<div>
			<label>Fecha Realizacion: </label> <input type="date"
				name="fecharealiza" placeholder="fecharealiza"
				th:value="${Tratamiento.fecharealiza}" th:label="*{fecharealiza}" />
		</div>

		<div>
			<label>Elige Cultivo: </label> <input type="number" name="cultivo"
				th:value="${Tratamiento.cultivo.id}" th:label="*{id}"
				placeholder="cultivo.id" />
		</div>
		<div>
			<label>Elige Fitosanitario: </label> <input type="number"
				name="fitosanitario" th:value="${Tratamiento.fitosanitario.id}"
				th:label="*{id}" placeholder="fitosanitario.id" />
		</div>
		<br>
		<p>
			<button onclick="location.href='/tratamientos'; return false;">Cancel</button>
			<input type="submit" value="Guardar" />
		</p>
	</form>


</body>
</html>
