<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Main</title>
<base href=".">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<style>
li>span {
	color: white;
	padding-right: 1em;
	vertical-align: -webkit-baseline-middle;
}

h2 {
	color: darkslateblue;
}

p, li, label {
	color: darkmagenta;
	font-size: 20px;
}

body {
	background-color: #AFEEEE;
	font-size: 20px;
}

button, input, textarea {
	text-decoration: none;
	padding: 2px;
	font-weight: 100;
	font-size: 20px;
	color: #1883ba;
	background-color: white;
	border-radius: 7px;
	border: 2px solid #0016b0;
}
</style>
<link rel="stylesheet" href="estilo.css">

</head>

<!-- 3. Display the application -->

<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<div class="navbar-nav mr-auto">
				<a class="navbar-brand" href="/">Tierra agricola</a>
			</div>

		</div>

	</nav>
	<form action="#" th:action="@{/editcultivo}" th.object="${Cultivos}"
		method="post">
		<div style='text-align:center'>
		<h2 th:text="'Cultivo con id: ' + ${Cultivos.id}"></h2>
		<input type="hidden" name="id" th:value="${Cultivos.id}"
			th:label="*{id}" />
		</div>
		<div>
			<label>Especie: </label> <input name="especie"
				th:value="${Cultivos.especie}" th:label="*{especie}"
				placeholder="especie" />
		</div>
		<div>
			<label>Variedad: </label> <input name="variedad"
				th:value="${Cultivos.variedad}" th:label="*{variedad}"
				placeholder="variedad" />
		</div>
		<div>
			<label>Zona: </label> <input name="zona" th:value="${Cultivos.zona}"
				th:label="*{zona}" placeholder="zona" />
		</div>
		<div>
			<label>Fecha: </label> <input type="date" name="fecha"
				th:value="${Cultivos.fecha}" th:label="*{fecha}" placeholder="fecha" />
		</div>

		<div>
			<label>Elige Tratamientos:(SIGA EL FORMATO) </label> <input
				name="tratamientos" placeholder="1,2,3.." />
		</div>


		<label>Tratamientos en los que está:</label>
		<p th:each="lista : ${lista}">
			<samp th:text="'Id del tratamiento en el que está:' + ${lista.id}"></samp>
		</p>
		<br>
		<p>
			<button onclick="location.href='/cultivos'; return false;">Cancel</button>
			<input type="submit" value="Guardar" />
		</p>

	</form>

</body>
</html>

