<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Main</title>
<base href=".">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<style>
li>span {
	color: white;
	padding-right: 1em;
	vertical-align: -webkit-baseline-middle;
}

h2 {
	color: darkslateblue;
}

p, li, label {
	color: darkmagenta;
	font-size: 20px;
}

body {
	background-color: #AFEEEE;
	font-size: 20px;
}

button, input, textarea {
	text-decoration: none;
	padding: 2px;
	font-weight: 100;
	font-size: 20px;
	color: #1883ba;
	background-color: white;
	border-radius: 7px;
	border: 2px solid #0016b0;
}
</style>
<link rel="stylesheet" href="estilo.css">

</head>

<!-- 3. Display the application -->

<body>

	<nav
		class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">

		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<div class="navbar-nav mr-auto">
				<a class="navbar-brand" href="/">Tierra agricola</a>
			</div>

		</div>

	</nav>
<body>
	<div style='text-align:center'>
		<h2 th:text="'Producto fitosanitario con id: ' + ${Fitosanitarios.id}"></h2>
		<br>
		<p th:text="'Nombre: ' + ${Fitosanitarios.nombre}"></p>
		<p th:text="'Descripcion: ' + ${Fitosanitarios.descripcion}"></p>
		<p th:text="'Plazo de reentrada: ' + ${Fitosanitarios.plreentrada}"></p>
		<p
			th:text="'Plazo de recoleccion: ' + ${Fitosanitarios.plrecoleccion}"></p>
		<p>
			<a th:href="@{'/editproducto/' + ${Fitosanitarios.id}}">Modificar</a>
		</p>

	</div>
	<br>
	<div style='text-align:center'>
	<p>
		<button onclick="location.href='/fitosanitarios'">Volver</button>
	</p>
	</div>

</body>
</html>